 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap'); 
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap');


 body{
    font-family: 'Open Sans', sans-serif;
    background-color: #FEFEFE;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
 }

 h1{
    font-family: 'Montserrat',sans-serif;
   

 }

 h2{
    font-family: 'Montserrat',sans-serif;
    font-size: 50px;
    line-height: 58px;
    color: #1e1e1e;
    padding: 0px;
    margin: 0px;
 }

 footer{
    width: 100vw;
    height: 156px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 a {

    color: #1e1e1e;
 }
 h2.azul{
    color: #005b9a;    
    }

h5{
    font-family: 'Montserrat',sans-serif;
    font-size: 24px;
    color: #1e1e1e;
    margin: 0px;

}

h5:hover{
    cursor: default;
    font-size: 30px;
}

.section-hero{
    width: 100vw;
    height: 920;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  
}

.barra-navegacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 1216px;
    height: 72px;
    margin-top: 55px;
  
}



.titulo-navegacao{
    color: #1e1e1e;
    letter-spacing: -0.015rem;
    font-size: 24px;
    
}

.links-navegacao{
    color: #1e1e1e;
    letter-spacing: -0.015rem;
    font-size: 16px;
    text-decoration: none;
    margin: 16px;
    cursor: pointer;

   
}

.links-navegacao:hover{
    background-color: cornsilk ;
}

button{
    border-radius: 16px;
    border-width: 0px;
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #005b9a;
    color: #FEFEFE;
    letter-spacing: 0.16rem;
    font-weight: bold;
    cursor: pointer;


}

.root-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.content-conteiner{
    display: flex;
    flex-direction: column;
    width: 1216px;
    align-items: center;
    justify-content: flex-start;
}

button:hover{
    background-color: green;
    transition: 3s all;
}


.hero-info-button{
    margin-left: 95px;
    width: 248px;
}

.hero-info{
    width: 1216px;
    height: 594px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.hero-info-title{
    font-size: 38px;
    font-weight: bold;
    margin-left: 100px;
    margin-bottom: 10px;
    
}

.hero-info-subtitle{
    font-size: 20px;
    color: #1e1e1e;
    line-height: 28px;
    max-width: 55%;
    margin-top: 10px;
    
    margin-left: 100px;
}

.hero-info-image{
    height: 610px;
    width: 380px;
    border-radius: 40px;
    border-color: #005b9a;
    border-width: 4px;
    border-style: solid;
 

}

.hero-info-iccons-image{
    width: 28px;
    height: 28px;
    padding-left: 10px;
    margin-left: 65px;
    cursor: pointer;
       
}

.hero-info-iccons-image:hover{
    width: 35px;
    height: 35px;
}



.hero-info-iccons-conteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    margin-top: 30px;
   
    

}

.section-habilities{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: 64px;
    padding-bottom: 64px;
}

.ability-card-conteiner{
    display: grid;
    column-gap: 32px;
    width: 100%;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;

    

}

.ability-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 312px;
    height: 690px;
    border-width: 1px;
    border-color: #d9d9d9;
    border-radius: 12px;
    border-style: solid;
    margin-top: 24px;
    
}

.ability-card-icon-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #005b9a;
    border-radius: 40px;
    margin-top: 15px;
    margin-bottom: 12px;
    
}

.ability-card-icon{
    width: 34px;
    height: 35px;
    
}

.ability-card-subtitle{
    font-size: 14px;
    font-family: 'open Sans',sans-serif;
    text-align: center;
    margin: 1px;
    max-width: 70%;
}

.ability-card-list{
   width: 90%;
}

li{
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 600;

}

.section-portifolio{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.section-hero-grid{
    display: grid;
    column-gap: 32px;
    width: 100%;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    margin-top: 40px;
    
}

.section-portifolio-card{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 384px;
    height: 300px;
    border-width: 2px;
    border-color: #d9d9d9;
    border-style: solid;
    border-radius: 24px;
    margin-top: 12px;
}

.section-portifolio-img{
    width: 220px;
    height: 156px;
}
.section-portifolio-subtitle{
    font-size: 14px;
    font-family: 'open Sans',sans-serif;
    text-align: center;
    margin: 1px;
    max-width: 50%;
}


.section-portifolio-card-links{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 15%;
}

.section-portifolio-icon{
    width: 20px;
    height: 20px;
}

.section-experiencias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
}
.section-experiencias-card{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 800px;
    border-style: none;
    border-radius: 16px;
    background: #d9d9d9;
    margin-top: 24px;
    padding: 24px;
}

.section-experiencias-imagem{
    width: 48px;
    height: 48px;
    border-radius: 12px;
}

.section-experiencias-card-text-conteiner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 24px;
}


.section-experiencias-titulo{
    font-family: 'Montserrat',sans-serif;
   font-size: 18px;
   font-weight: 500;
   margin: 0px;
  

}


.section-experiencias-subtitulo{
    font-family: 'Montserrat',sans-serif;
   font-size: 14px;
   margin:  6px 0px 0px 0px;

}
.section-experiencias-text{
    font-family: 'Montserrat',sans-serif;
   font-size: 12px;
   margin: 6px 0px 0px 0px;

}

.footer-contet{
    display: flex;
    flex-direction: row;
    width: 1216px;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;

}

.footer-social-icon{
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: center;
    justify-content: center;

}


